In [1]:
import os

In [2]:
os.chdir("C:\\Users\\Shailesh\\Jupyter Notebook")

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\Shailesh\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [4]:
dataset=pd.read_csv("Social_Network_Ads.csv")

In [5]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  11021175    Male   42           121315          0
1  17782313    Male   53            67214          0
2  14603818  Female   59           111005          0
3  18188198  Female   39            53414          0
4  19357305    Male   39           114285          0

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [7]:
dataset.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
User ID,400.0,1.510090e+07,2.862593e+06,10016842.0,12605933.25,15098745.0,17412962.25,19996164.0
Age,400.0,3.988500e+01,1.179660e+01,20.0,30.00,40.0,51.00,60.0
EstimatedSalary,400.0,9.974823e+04,2.837436e+04,50075.0,76060.25,99205.0,122748.00,149553.0
Purchased,400.0,3.575000e-01,4.798640e-01,0.0,0.00,0.0,1.00,1.0

In [8]:
dataset.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [11]:
x = dataset.iloc[:,[2,3]].values

In [12]:
x

array([[    42, 121315],
       [    53,  67214],
       [    59, 111005],
       [    39,  53414],
       [    39, 114285],
       [    39, 107458],
       [    20,  85582],
       [    59, 148335],
       [    48,  80579],
       [    42, 114204],
       [    32,  87786],
       [    49, 113544],
       [    55,  88300],
       [    54, 147066],
       [    57, 139622],
       [    41, 134716],
       [    51, 116333],
       [    55,  72567],
       [    44, 123254],
       [    47, 113548],
       [    52,  79343],
       [    20, 106149],
       [    40,  59674],
       [    52,  76333],
       [    28, 118742],
       [    22, 105897],
       [    25, 114815],
       [    38,  85428],
       [    57, 114005],
       [    57, 133402],
       [    43, 106726],
       [    35,  84550],
       [    34,  96296],
       [    32,  68964],
       [    55,  90946],
       [    48,  51787],
       [    22,  53940],
       [    42, 138928],
       [    59, 116474],
       [    23,  97284],
       [    40, 132951],
       [    24, 119308],
       [    50, 120675],
       [    41, 113547],
       [    52, 102686],
       [    34, 140262],
       [    20,  54075],
       [    25,  63715],
       [    46,  56058],
       [    58,  65052],
       [    38,  72107],
       [    21, 108656],
       [    42, 120639],
       [    31,  68033],
       [    26,  80283],
       [    47,  60952],
       [    31, 123137],
       [    36,  98529],
       [    25, 121301],
       [    28,  61144],
       [    41, 107405],
       [    32,  87032],
       [    53, 118544],
       [    38,  63743],
       [    43,  53404],
       [    34,  88672],
       [    29,  96164],
       [    47, 123288],
       [    31, 122623],
       [    31,  78696],
       [    51, 142525],
       [    59,  87656],
       [    29, 142587],
       [    25, 136561],
       [    59, 146860],
       [    60, 142362],
       [    35,  69596],
       [    26,  68131],
       [    36, 110448],
       [    23,  83386],
       [    58, 108578],
       [    30, 141388],
       [    43, 149365],
       [    56,  58313],
       [    51, 102619],
       [    28,  55147],
       [    41,  50075],
       [    34, 107704],
       [    43, 114836],
       [    47, 121827],
       [    34,  81442],
       [    34, 107339],
       [    26, 112221],
       [    45,  95625],
       [    57, 122153],
       [    51,  95670],
       [    34, 143045],
       [    59, 137848],
       [    36,  52183],
       [    36,  79634],
       [    23, 113567],
       [    54, 141579],
       [    37,  65595],
       [    36, 112290],
       [    34,  81496],
       [    50, 149336],
       [    40,  75308],
       [    52, 100654],
       [    41, 126711],
       [    40, 108120],
       [    49, 105753],
       [    20, 136968],
       [    24,  93042],
       [    28, 123123],
       [    20,  82371],
       [    23, 124432],
       [    39,  77263],
       [    42,  74062],
       [    56,  66914],
       [    20, 135880],
       [    56, 141015],
       [    47,  56095],
       [    54, 105953],
       [    31, 134226],
       [    40, 140382],
       [    52,  83150],
       [    43, 134224],
       [    45,  56858],
       [    58,  78749],
       [    30,  85067],
       [    32, 126056],
       [    25, 113954],
       [    48,  95856],
       [    33,  97459],
       [    47, 135037],
       [    26, 119179],
       [    54, 149039],
       [    45,  82604],
       [    58, 141603],
       [    54,  78694],
       [    57, 124533],
       [    50, 131911],
       [    41,  59001],
       [    46, 121055],
       [    56, 129867],
       [    29,  92841],
       [    30,  52952],
       [    37, 110760],
       [    26, 118184],
       [    33, 112314],
       [    41,  89916],
       [    30, 121311],
       [    35,  89632],
       [    45, 100855],
       [    43,  65553],
       [    54,  53506],
       [    52,  52428],
       [    58,  82785],
       [    30,  53649],
       [    22,  87705],
       [    52,  89220],
       [    46, 144559],
       [    56, 100871],
       [    25, 144076],
       [    22,  92835],
       [    42, 143855],
       [    40, 134666],
       [    58,  60780],
       [    38,  71907],
       [    53, 117339],
       [    24,  59930],
       [    45,  81582],
       [    43, 105079],
       [    54,  89483],
       [    30, 101011],
       [    24,  63875],
       [    43,  78367],
       [    34,  98157],
       [    21,  67195],
       [    27,  60011],
       [    43,  85692],
       [    31, 122030],
       [    35, 111404],
       [    51, 112365],
       [    24, 145116],
       [    53,  84777],
       [    24, 117799],
       [    49, 123887],
       [    37, 110617],
       [    39,  66443],
       [    28,  74078],
       [    34,  53024],
       [    45,  60629],
       [    38,  96053],
       [    37, 115700],
       [    32, 149553],
       [    22,  54897],
       [    57, 106814],
       [    26,  82215],
       [    34,  97989],
       [    34, 129656],
       [    48,  54293],
       [    41, 115121],
       [    47,  58050],
       [    32, 106526],
       [    31,  66259],
       [    56, 114193],
       [    32,  93654],
       [    30,  90905],
       [    32,  87630],
       [    23,  57412],
       [    35, 138992],
       [    55,  79423],
       [    23,  58900],
       [    32,  79811],
       [    42,  73731],
       [    45,  97845],
       [    46, 124974],
       [    25, 126831],
       [    29, 129796],
       [    44, 113742],
       [    46, 140395],
       [    33,  96753],
       [    25,  73636],
       [    54, 131776],
       [    53, 115173],
       [    23, 132989],
       [    55,  78749],
       [    26, 114306],
       [    29, 144160],
       [    59,  73810],
       [    45,  69716],
       [    52, 103076],
       [    31, 120701],
       [    43,  88766],
       [    51, 145365],
       [    39, 100402],
       [    33, 133440],
       [    28,  79496],
       [    42,  59216],
       [    23,  59666],
       [    28,  96148],
       [    57, 104693],
       [    38, 125226],
       [    25,  64832],
       [    44, 147276],
       [    36,  51894],
       [    46,  87539],
       [    44, 123166],
       [    58,  80730],
       [    52,  61880],
       [    55,  55940],
       [    36,  83172],
       [    57,  62224],
       [    29,  85752],
       [    21,  92044],
       [    58, 114689],
       [    25,  75753],
       [    39, 147108],
       [    27, 116149],
       [    41,  76066],
       [    28, 139815],
       [    51,  89365],
       [    30,  96984],
       [    45,  83469],
       [    43, 123902],
       [    31, 103674],
       [    25, 149284],
       [    55, 101685],
       [    29,  84375],
       [    59,  80400],
       [    35, 116617],
       [    48,  63697],
       [    23, 125328],
       [    31, 115264],
       [    22,  52203],
       [    55,  79300],
       [    24, 118146],
       [    45, 118915],
       [    32, 145807],
       [    25,  89964],
       [    57, 100193],
       [    59,  51243],
       [    59,  96999],
       [    51, 120749],
       [    47,  90983],
       [    38,  66879],
       [    59,  56930],
       [    60,  74753],
       [    24, 142544],
       [    56,  71895],
       [    39, 138840],
       [    36,  73233],
       [    37, 144858],
       [    37, 137622],
       [    20,  61919],
       [    59,  83724],
       [    50, 114793],
       [    51, 117179],
       [    60,  64051],
       [    35,  56687],
       [    57, 101429],
       [    43,  74931],
       [    27,  71384],
       [    30, 130926],
       [    22, 111072],
       [    57, 137143],
       [    37,  65536],
       [    25,  89304],
       [    23, 140900],
       [    50, 136552],
       [    54,  75491],
       [    52,  71429],
       [    59,  81753],
       [    44,  95919],
       [    47, 108041],
       [    29,  83561],
       [    47, 118252],
       [    52,  74847],
       [    25,  58866],
       [    38,  64972],
       [    20,  64957],
       [    22, 111361],
       [    43,  91205],
       [    41,  65781],
       [    32, 126318],
       [    23, 140167],
       [    28,  94239],
       [    52, 125189],
       [    52,  63103],
       [    40, 107099],
       [    49,  59438],
       [    36, 134882],
       [    28,  58789],
       [    37, 145025],
       [    22, 146149],
       [    31, 127446],
       [    39,  83401],
       [    21, 123460],
       [    51,  64207],
       [    49, 128666],
       [    48, 120137],
       [    28,  80299],
       [    30, 104548],
       [    24, 138809],
       [    42, 130324],
       [    59, 139963],
       [    60,  72905],
       [    51,  52093],
       [    36, 119778],
       [    33,  86617],
       [    29,  69997],
       [    21,  89174],
       [    44, 143222],
       [    29, 130705],
       [    59,  80220],
       [    28, 119752],
       [    21,  76043],
       [    44, 145967],
       [    25,  79824],
       [    43,  89982],
       [    46, 147530],
       [    36,  60575],
       [    43,  78098],
       [    55,  81409],
       [    28,  70948],
       [    50, 104297],
       [    48, 127871],
       [    33, 126297],
       [    24, 110968],
       [    53,  91670],
       [    39,  91484],
       [    38,  79015],
       [    47, 105738],
       [    60, 149376],
       [    32, 132339],
       [    55,  65263],
       [    43, 121151],
       [    55, 143658],
       [    39, 107871],
       [    35,  88727],
       [    55,  78055],
       [    36,  58593],
       [    27,  62004],
       [    51,  99881],
       [    42,  72411],
       [    47,  91721],
       [    34, 140775],
       [    35,  79146],
       [    58, 128623],
       [    25, 128311],
       [    23,  72896],
       [    57, 115969],
       [    28, 111173],
       [    41, 107820],
       [    20, 141231],
       [    50,  75848],
       [    25,  82560],
       [    55, 147667],
       [    54, 134972]], dtype=int64)

In [13]:
y = dataset.iloc[:,4].values

In [14]:
y

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1], dtype=int64)

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [17]:
# standard scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [18]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0)
classifier.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
y_pred = classifier.predict(x_test)

In [20]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [21]:
from sklearn.metrics import confusion_matrix
cm= confusion_matrix(y_test,y_pred)

In [22]:
print(cm)

[[58  0]
 [22  0]]

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.725